@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --my-margin: 40px;
  --button-color: #5c98c0;
  --credits-color: white;
  font-family: 'Montserrat', cursive;
}

* {
  /* outline: 1px solid black; */
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
}

.left {
  position: relative;
  width: 34%;
  display: flex;
}

.left img {
  flex: 1
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top {
  font-size: 1.9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.middle {
  flex: none;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 30%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.bottom {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top,
.bottom {
  background-color: #f9fafb;
  height: 35%;
}

.right > div {
  padding: var(--my-margin);
}

.right > div > div {
  max-width: 60rem;
}

.top > div > p:not(:last-child) {
  margin-bottom: calc(var(--my-margin) / 2);
}

.middle > div:first-child {
  margin-bottom: calc(var(--my-margin) / 2);
}

.bottom > div:not(:first-child) {
  margin-top: calc(var(--my-margin) / 2);
}

button {
  background-color: var(--button-color);
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
  border: 2px solid var(--button-color);
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

button:active {
  transition-duration: 0.1s;
  background-color: white;
  color: var(--button-color);
}

.bottom a {
  text-decoration: none;
  font-weight: bold;
  color: var(--button-color)
}

label {
  font-size: .9rem;
}

input {
  font-size: 1.3rem;
  font-weight: 100;
  padding: .3rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  transition-duration: 0.2s;
}

input:focus {
  outline: 1px solid var(--button-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form {
  flex: 1;
  max-width: 50rem;
  display: flex;
  gap: 5rem;
}

form > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form > div > div {
  display: flex;
  flex-direction: column;
}

.middle > div:last-child {
  flex: 1;
  display: flex;
}

.middle > div:first-child {
  flex: none;
  font-size: 1.9rem;
}

.credits {
  color: var(--credits-color);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 287px;
  bottom: 5px;
  text-align: center;
}

.name {
  background-color: rgba(0, 0, 0, 0.836);
  color: var(--credits-color);
  font-size: 3rem;
  position: absolute;
  width: 100%;
  height: 150px;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name img {
  max-width: 200px;
}

.left a {
  color: var(--credits-color);
}
