@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --my-margin: 40px;
  --button-color: #5c98c0;
}

* {
  /* outline: 1px solid black; */
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
}

.left {
  /* width: 37%; */
  display: flex;
}

.left img {
  flex: 1
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top {
  font-family: 'Montserrat', cursive;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

p {
  margin: calc(var(--my-margin) / 2) var(--my-margin) calc(var(--my-margin) / 2) var(--my-margin);
  max-width: 60rem;
}

.top > p:last-child {
  margin-bottom: var(--my-margin);
}

.top,
.bottom {
  background-color: #f9fafb;
  height: 35%;
}

.middle {
  position: relative;
  flex: 1;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bottom > p {
  margin: calc(var(--my-margin) / 2) var(--my-margin) calc(var(--my-margin) / 2) var(--my-margin);
  font-family: 'Montserrat', cursive;
  font-size: 20px;
}


.bottom > p:first-child {
  margin-top: var(--my-margin);
}

button {
  background-color: white;
  color: var(--button-color);
  font-size: 1.3rem;
  font-weight: bold;
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
  border: 2px solid var(--button-color);
  transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
  background-color: var(--button-color);
  color: white;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: var(--button-color)
}
